 </style>
</head>
<body>
  <header>
    <video autoplay muted loop playsinline>
      <source src="resumevid.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="overlay">
      <h1>Nuqman Naimi bin Ahmad Nizam</h1>
      <p>Student</p>
    </div>
  </header>